body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  text-align: center;
}

button {
  background-color: #6c63ff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
}

button:hover {
  background-color: #5753c9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #6c63ff;
  color: white;
}
